.socialMediaIcon {
  display: flex;
}

.footer-section {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer-section {
    display: flex;
    flex-direction: column !important;
  }
}
